@{
    var currentCulture = ViewData["Culture"]?.ToString() ?? "ru";
}

<!DOCTYPE html>
<html lang="@currentCulture">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
  
    <main role="main" class="pb-3">
        @RenderBody()
    </main>

    <footer class="border-top footer text-muted text-center mt-4">
        <div class="container">
            <a asp-controller="Home" asp-action="Contract" asp-route-culture="@currentCulture">
                @(currentCulture == "kk" ? "Келісімшарт" : "Договор")
            </a> |
            <a asp-controller="Home" asp-action="Privacy" asp-route-culture="@currentCulture">
                @(currentCulture == "kk" ? "Құпиялылық саясаты" : "Политика конфиденциальности")
            </a>
        </div>
    </footer>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/site.js?v=@DateTime.UtcNow.Ticks"></script>

</body>
</html>
